<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Data Monitor</title>


    <link href="/static/bootstrap3.3/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstraptable/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/flatUI/css/flat-ui.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/bootstrap3.3/dist/js/bootstrap.min.js"></script>
    <script src="/static/bootstraptable/bootstrap-table.min.js"></script>
    <script src="/static/flatUI/js/flat-ui.min.js"></script>

    <script src="/static/highcharts.js"></script>
    <script src="/static/chartkick.js"></script>
</head>