<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">Data-Monitor</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Housing Price<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="first_tier_city_list">first-tier city</a></li>
                    </ul>
                </li>
            </ul>

            <!--Minneapolis Crime Prediction-->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Minneapolis Crime Prediction<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="minneapolis_simple_analysis">simple analysis</a></li>
                    </ul>
                </li>
            </ul>

            <!--Us flight delay Prediction-->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">US Flight Delay Prediction<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="us_airline_delay_prediction">simple analysis</a></li>
                    </ul>
                </li>
            </ul>


            <!--Welcome-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome:{{user}} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script>
$(function() {
    String.prototype.format=function()
    {
        if(arguments.length==0) return this;
        for(var s=this, i=0; i<arguments.length; i++)
        s=s.replace(new RegExp("\\{"+i+"\\}","g"), arguments[i]);
        return s;
    };


    $("#inv_type li a").click(function() {
        $("#overdue_type").html(this.text+'<span class="caret"></span>')
    });
});
</script>